{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="row">
    <h2>Art And Craft</h2>
    {% for art in art %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <a href="{% url 'product-detail' art.id %}"><img src="{{art.product_image_frontside.url}}" class="card-img-top" alt="{{ art.title }}"></a><h5 class="card-title mx-auto">{{ art.title }}</h5>
                <div class="card-body">
                    <p class="card-text">RS. {{ art.discount_price }}</p>
                    <p class="card-text">Upload At: {{ art.upload_date }}</p>
                    <!-- Add other product details as needed -->
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
</div>
{% endblock %} 