{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

   <div class="row">
    <h2>Man Fashion</h2>
    {% for m in man %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <a href="{% url 'product-detail' m.id %}"><img src="{{m.product_image_frontside.url}}" class="card-img-top" alt="{{ m.title }}"></a><h5 class="card-title mx-auto">{{ m.title }}</h5>
                <div class="card-body">
                    <p class="card-text">RS. {{ m.discount_price }}</p>
                    <p class="card-text">Upload At: {{ m.upload_date }}</p>
                    <!-- Add other product details as needed -->
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
</div>
{% endblock %} 