{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image_frontside.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: {{product.title}}</h2>
   <hr>
   <p>{{product.description}}</p> <br>
   <h4>{{product.discount_price}} <small class="fw-light text-decoration-line-through">Rs. {{product.selling_price}}</small></h4> <br>
   {% if product_already_in_cart %}
      <a href="{% url 'showcart' %}" class="btn btn-info shadow px-5 ms-4">Goto Cart</a>
   {% else %}
   <form action="/add-to-cart" class="d-inline">
      <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
      {% if request.user.is_authenticated %}
      <button type="submit" class="btn btn-primary shadow px-4 py-2">Add To Cart</button>
      {% endif %}
     </form>
     {% endif %}
{% if request.user.is_staff or is_superuser %}
   <form action="{% url 'vendor:selectitempage' %}" class="d-inline">
    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
    <button type="submit" class="btn btn-primary shadow px-2 py-2">Select Product</button>
   </form>
   {% endif %}

{% if request.user.is_authenticated %}
   <a href="{% url 'checkout' %}" class="btn btn-danger shadow px-4 py-2 ms-4 d-inline">Buy Now</a>
   {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}