{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    {% if messages %}
      {% for m in messages %}
      <p {% if m.tags %} class="alert alert-{{m.tags}} mb-5"{% endif %}>{{m}}</p>
      {% endfor %}
    {% endif %}
   <form action="" method="post">
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group mb-3">
    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
    </div>
    {% endfor %}
     <button type="submit" class="btn btn-primary">Save</button>

     {% if form.non_field_errors %}
       <div class="non-field-errors">
         {% for err in form.non_field_errors %}
           <p class="form-error">{{ err }}</p>
         {% endfor %}
       </div>
       {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}